{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
            <div class="row">

            	<!---Body Left Section Start Here--->
                <div class="mainLeftCnt">
                	<div class="title">Course Content <i class=" fa fa-angle-down"></i></div>
                    <ul>
                    	<li><a href="javascript:void(0);">Intro</a><i class=" fa fa-angle-down"></i>
                        	<ul class="subMenu">
                            	<li><a href="#">Python Intro (Preview)</a></li>
                                <li><a href="#">Python Arch</a></li>
                                <li><a href="#">Python Feature</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">Language Funds</a><i class=" fa fa-angle-down"></i>
                        	<ul class="subMenu">
                            	<li><a href="#">Keywords</a></li>
                                <li><a href="#">Identifiers</a></li>
                                <li><a href="#">Liters</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">Intro</a><i class=" fa fa-angle-down"></i>
                        	<ul class="subMenu">
                            	<li><a href="#">Python Intro (Preview)</a></li>
                                <li><a href="#">Python Arch</a></li>
                                <li><a href="#">Python Feature</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">Language Funds</a><i class=" fa fa-angle-down"></i>
                        	<ul class="subMenu">
                            	<li><a href="#">Keywords</a></li>
                                <li><a href="#">Identifiers</a></li>
                                <li><a href="#">Liters</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">Intro</a><i class=" fa fa-angle-down"></i>
                        	<ul class="subMenu">
                            	<li><a href="#">Python Intro (Preview)</a></li>
                                <li><a href="#">Python Arch</a></li>
                                <li><a href="#">Python Feature</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">Language Funds</a><i class=" fa fa-angle-down"></i>
                        	<ul class="subMenu">
                            	<li><a href="#">Keywords</a></li>
                                <li><a href="#">Identifiers</a></li>
                                <li><a href="#">Liters</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">Intro</a><i class=" fa fa-angle-down"></i>
                        	<ul class="subMenu">
                            	<li><a href="#">Python Intro (Preview)</a></li>
                                <li><a href="#">Python Arch</a></li>
                                <li><a href="#">Python Feature</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">Language Funds</a><i class=" fa fa-angle-down"></i>
                        	<ul class="subMenu">
                            	<li><a href="#">Keywords</a></li>
                                <li><a href="#">Identifiers</a></li>
                                <li><a href="#">Liters</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">Intro</a><i class=" fa fa-angle-down"></i>
                        	<ul class="subMenu">
                            	<li><a href="#">Python Intro (Preview)</a></li>
                                <li><a href="#">Python Arch</a></li>
                                <li><a href="#">Python Feature</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">Language Funds</a><i class=" fa fa-angle-down"></i>
                        	<ul class="subMenu">
                            	<li><a href="#">Keywords</a></li>
                                <li><a href="#">Identifiers</a></li>
                                <li><a href="#">Liters</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">Intro</a><i class=" fa fa-angle-down"></i>
                        	<ul class="subMenu">
                            	<li><a href="#">Python Intro (Preview)</a></li>
                                <li><a href="#">Python Arch</a></li>
                                <li><a href="#">Python Feature</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">Language Funds</a><i class=" fa fa-angle-down"></i>
                        	<ul class="subMenu">
                            	<li><a href="#">Keywords</a></li>
                                <li><a href="#">Identifiers</a></li>
                                <li><a href="#">Liters</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">Intro</a><i class=" fa fa-angle-down"></i>
                        	<ul class="subMenu">
                            	<li><a href="#">Python Intro (Preview)</a></li>
                                <li><a href="#">Python Arch</a></li>
                                <li><a href="#">Python Feature</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">Language Funds</a><i class=" fa fa-angle-down"></i>
                        	<ul class="subMenu">
                            	<li><a href="#">Keywords</a></li>
                                <li><a href="#">Identifiers</a></li>
                                <li><a href="#">Liters</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">Intro</a><i class=" fa fa-angle-down"></i>
                        	<ul class="subMenu">
                            	<li><a href="#">Python Intro (Preview)</a></li>
                                <li><a href="#">Python Arch</a></li>
                                <li><a href="#">Python Feature</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">Language Funds</a><i class=" fa fa-angle-down"></i>
                        	<ul class="subMenu">
                            	<li><a href="#">Keywords</a></li>
                                <li><a href="#">Identifiers</a></li>
                                <li><a href="#">Liters</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">Intro</a><i class=" fa fa-angle-down"></i>
                        	<ul class="subMenu">
                            	<li><a href="#">Python Intro (Preview)</a></li>
                                <li><a href="#">Python Arch</a></li>
                                <li><a href="#">Python Feature</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">Language Funds</a><i class=" fa fa-angle-down"></i>
                        	<ul class="subMenu">
                            	<li><a href="#">Keywords</a></li>
                                <li><a href="#">Identifiers</a></li>
                                <li><a href="#">Liters</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">Intro</a><i class=" fa fa-angle-down"></i>
                        	<ul class="subMenu">
                            	<li><a href="#">Python Intro (Preview)</a></li>
                                <li><a href="#">Python Arch</a></li>
                                <li><a href="#">Python Feature</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">Language Funds</a><i class=" fa fa-angle-down"></i>
                        	<ul class="subMenu">
                            	<li><a href="#">Keywords</a></li>
                                <li><a href="#">Identifiers</a></li>
                                <li><a href="#">Liters</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            	<!---Body Left Section End Here--->

                <!---Body Right Section Start Here--->

                <div class="body-cntL playVid">
                    <div class="row">
                        <div class="col-sm-12">
                            <video class="videoPlyer" poster="images/poster.jpg" controls>
                              <source src="mov_bbb.mp4" type="video/mp4">
                            </video>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-12">
                            <div class="Cnt-bg-with-shadow">
                                <h4><strong>INDIVIDUAL TECHNIQUE VS TEAM STRATEGY IN BASKETBALL</strong></h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>


                                <div class="row" style="margin: 0;">
                                    <div class="col-sm-12 play-like-brd">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-7">
                                                <div class="play-like">
                                                    <ul>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="top" title="SHARE"><i class="fa fa-share-alt"></i>&nbsp;Share</a>

                                                        </li>
                                                        <li>
                                                            <a href="#"  data-toggle="tooltip" data-placement="top" title="LIKE"><i class="fa fa-thumbs-up"></i>&nbsp;10,222</a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="top" title="DISLIKE"><i class="fa fa-thumbs-down"></i>&nbsp;65,215</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-xs-5 text-right pull-right">
                                                <h5 data-toggle="tooltip" data-placement="top" title="VIEWS"><i class="fa fa-eye"></i>&nbsp;777,852</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix">&nbsp;</div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="comment-post-head">COMMENT'S (2)</div>
                            <div class="clearfix">&nbsp;</div>
                        </div>

                        <div class="col-sm-12">

                            <div class="comment-main-Cnt">
                                <div class="comment-img"><img src="images/video-T6.jpg" alt="" class="img-responsive"></div>
                                <div class="comment-detail">
                                    <h5 class="marg-top-bot0"><strong>JP Singhaniya</strong></h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                            </div>

                            <div class="comment-main-Cnt">
                                <div class="comment-img"><img src="images/video-T5.jpg" alt="" class="img-responsive"></div>
                                <div class="comment-detail">
                                    <h5 class="marg-top-bot0"><strong>Sanjeet</strong></h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                            </div>

                        </div>

                    </div>



                    <div class="row">
                        <div class="col-sm-12">
                            <div class="comment-post-head">LEAVE YOUR COMMENT</div>
                            <div class="clearfix">&nbsp;</div>
                        </div>
                    </div>

                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="3" placeholder="Your Comments *"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="inputEmail3" placeholder="Your Name *">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5">
                                <input type="email" class="form-control" id="inputPassword3" placeholder="Your Email *">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="inputPassword3" placeholder="Your Website">
                            </div>
                        </div>

                        <div class="form-group marg-bottom0">
                            <div class=" col-sm-10">
                                <button type="submit" class="subs-btn">POST COMMENT</button>
                            </div>
                        </div>
                    </form>

                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="musicVid-tab">
                                <ul>
                                    <li><a href="#">RELATED VIDEOS</a></li>
                                </ul>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                        </div>

                        <div class="col-sm-12">
                            <div id="owl-demo" class="owl-carousel owl-theme rel-vid">
                                <div class="item">
                                    <a href="#" class="movie-img">
                                        <img src="images/video-T1.jpg" alt="" width="100%">
                                    </a>
                                    <div class="clearfix"></div>
                                    <h5>LIVE YOUR GOALF</h5>
                                </div>
                                <div class="item">
                                    <a href="#" class="movie-img">
                                        <img src="images/video-T2.jpg" alt="" width="100%">
                                    </a>
                                    <div class="clearfix"></div>
                                    <h5>PHANTOM UNDER WATER</h5>
                                </div>
                                <div class="item">
                                    <a href="#" class="movie-img">
                                        <img src="images/video-T3.jpg" alt="" width="100%">
                                    </a>
                                    <div class="clearfix"></div>
                                    <h5>THE ART OF SLOW MOTION</h5>
                                </div>
                                <div class="item">
                                    <a href="#" class="movie-img">
                                        <img src="images/video-T4.jpg" alt="" width="100%">
                                    </a>
                                    <div class="clearfix"></div>
                                    <h5>THE UPRIGHT CATCH</h5>
                                </div>
                                <div class="item">
                                    <a href="#" class="movie-img">
                                        <img src="images/video-T5.jpg" alt="" width="100%">
                                    </a>
                                    <div class="clearfix"></div>
                                    <h5>CUSITRIN A VIDEO ARTICLE</h5>
                                </div>
                                <div class="item">
                                    <a href="#" class="movie-img">
                                        <img src="images/video-T6.jpg" alt="" width="100%">
                                    </a>
                                    <div class="clearfix"></div>
                                    <h5>BLUE HYBRIDO VIDEO POST</h5>
                                </div>
                                <div class="item">
                                    <a href="#" class="movie-img">
                                        <img src="images/video-T1.jpg" alt="" width="100%">
                                    </a>
                                    <div class="clearfix"></div>
                                    <h5>LIVE YOUR GOALF</h5>
                                </div>
                                <div class="item">
                                    <a href="#" class="movie-img">
                                        <img src="images/video-T2.jpg" alt="" width="100%">
                                    </a>
                                    <div class="clearfix"></div>
                                    <h5>THE UPRIGHT CATCH</h5>
                                </div>
                                <div class="item">
                                    <a href="#" class="movie-img">
                                        <img src="images/video-T3.jpg" alt="" width="100%">
                                    </a>
                                    <div class="clearfix"></div>
                                    <h5>BLUE HYBRIDO VIDEO POST</h5>
                                </div>
                            </div>
                        </div>

                </div>


                <!---Body Right Section End Here--->


        </div>
{% endblock %}