{% load static %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<title> </title>
	
<style type="text/css"> 
.succes_page{
    background: #f7f6f6;
    box-shadow: 0px 3px 5px 5px #d8d7d7;
	padding:20px 25px;
	margin-top:40px;
}	

.check_image{
}

.check_image img{
width:100px;
margin-bottom: 25px;
}

.succes_page h2{
font-family: 'Roboto', sans-serif;
margin-bottom:25px;
}

.succes_page p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #363636;
	line-height: 1.8;
	padding: 0 35px;
}

</style>
</head>
<body>

<div class="container">
	<div class="row text-center">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="succes_page">
  					     
				<div class="succes-sign">  
					<img src="{% static 'img/succes-message.png' %}" alt="succes-message" />
				</div>
			
				<h2>  Thank You</h2>
				<p> {{success_msg}} </p>
				<a href="{{ SITE_URL }}/" class="backto-home">
					<i class="fa fa-long-arrow-left" aria-hidden="true"></i> BACK TO HOME </a>
			</div>
		</div>
	</div>
</div>
</body>
</html>